/* ---coirses------- */
.course_head {
    text-align: center;
    margin: auto;
}
.course_head p {
    margin: 0;
}
.course_head hr {
    width: 30%;
    margin: 0 auto 30px;
}
#coirses {
    width: 100%;
    height: inherit;
    padding: 30px 0;
    background-color: #f5f5f5;
}
.course_holder {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
    grid-gap: 1rem; */
}
.swiper-slide {
    margin-right: 0;
}
.cou_img {
    width: 100%;
    height: 25vh;
    border-radius: 5px;
}
.cou_img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 5px;
}
.course {
    min-width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0.40px 45px 10px rgba(0, 0, 0, 0.081);
}
.course h3 {
    margin: 0;
    padding: 1px 0;
    font-weight: 700;
    font-size: 16px;
    text-align: start;
}
.course ul {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 15vh;
    overflow-y: scroll; */
}
.course ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    font-weight: 500;
    color: gray;
}
.course button {
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 12px;
    margin: 5px 0;
    background-color: #7b1113;
    font-weight: 400;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0.70px 65px 20px rgba(0, 0, 0, 0.223);
    transition: all 0.35s ease-in;
}
.course button:hover {
    background-color:#520405;
    color: #f5f5f5;
}
#about {
    width: 100%;
    height: inherit;
    padding: 60px 0;
    background-color: #f5f5f5;
}
.abt_con {
    display: flex;
    align-items: center;
    justify-content: center;
}
.abt_content button {
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 12px;
    margin: 5px 0;
    background-color: #7b1113;
    font-weight: 400;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0.70px 65px 20px rgba(0, 0, 0, 0.223);
    transition: all 0.35s ease-in;
}
.abt_content button:hover {
    background-color: #430304;
    color: #f5f5f5;
}
/* course tab */
.course_tab ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.course_tab ul li {
    list-style: none;
    margin: 10px;
    padding: 5px;
    color: gray;
    cursor: pointer;
}
.course_active {    
    border-bottom: 1px solid #000;
    color: #000;
}
.cou_tab_box_item_active {
    display: block;
}
.cou_tab_box_item {
    display: none;
}



@media (max-width: 375px) {
    .course {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0.40px 45px 10px rgba(0, 0, 0, 0.081);
}
.course ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
    font-weight: 500;
    color: gray;
    /* line-height: 12px; */
}
.course h3 {
    margin: 0;
    padding: 1px 0;
    font-weight: 800;
    /* font-size: 11px; */
    text-align: start;
}
}
@media (max-width: 425px) {
    .course {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0.40px 45px 10px rgba(0, 0, 0, 0.081);
}
.course ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
    font-weight: 500;
    color: gray;
    /* line-height: 12px; */
}
.course h3 {
    margin: 0;
    padding: 1px 0;
    font-weight: 700;
    /* font-size: 11px; */
    text-align: start;
}
}
@media (max-width: 600px) {
    .course {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0.40px 45px 10px rgba(0, 0, 0, 0.081);
}
.course_tab ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    overflow-x: scroll;
}
.course h3 {
    margin: 0;
    padding: 1px 0;
    font-weight: 700;
    /* font-size: 11px;s */
    text-align: start;
}
.cou_img {
    width: 100%;
    height: 15vh;
    border-radius: 5px;
}
.course h3 {
    margin: 0;
    padding: 1px 0;
    font-weight: 600;
    font-size: 11px;
    text-align: start;
}
.course ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 12vh;
    overflow-y: scroll;
}
.course ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
    font-weight: 500;
    color: gray;
}

}