#partner {
    width: 100%;
    height: inherit;
    padding: 30px 0;
}
.partner_head {
    text-align: center;
    margin: 0 auto;
}
.partner_head h2 {
    margin: 0;
}
.partner_head hr {
    width: 30%;
    margin: 0 auto;
}
.partner_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.part_cont1 {
    padding-top: 20px;
    width: 80%;
    height: 70%;
    border-radius: 5px;
}
.partner_content .part_cont1 img {
    width: 100%;
    height: inherit;
    border-radius: 5px;
}
.partner_content .part_cont2 button {
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 12px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #7b1113;
    font-weight: 400;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0.70px 65px 20px rgba(0, 0, 0, 0.223);
    transition: all 0.35s ease-in;
}
.partner_content .part_cont2 button:hover {
    background-color: #430304;
    color: #f5f5f5;
}
.part_cont2 {
    padding-top: 20px;
}
.partner_content ul {
    margin: 0;
    padding: 0;
}
.partner_content ul li {
    color: gray;
    font-weight: 500;
}
.facilitator {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #f5f5f5;
}
.facilitator p {
    text-align: center;
}

.par_form h3 {
    margin: 0;
}
.par_form {
    width: 100%;
}
.par_form input {
   border: none;
   outline: none;
   display: block;
   width: 100%;
   padding: 5px;
   border-bottom: #430304 1px solid;
    margin: 7px 0;
}
.par_form textarea {
   border: #430304 1px solid;
   outline: none;
   display: block;
   width: 100%;
   padding: 5px;
    margin: 7px 0;
}
.bt_submit {
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #7b1113;
    font-weight: 400;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0.70px 65px 20px rgba(0, 0, 0, 0.223);
    transition: all 0.35s ease-in;
}
.bt_submit:hover {
    background-color: #430304;
    color: #f5f5f5;
}